.App {
  text-align: center;

}

/* .nav {
  z-index: 0;
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  opacity: 80%;
} */



.leaflet-container {
  width: 500px;
  height: 500px;
}

.weather-panel{
  border: 1px solid red;
}
table, tr, th {
  border: 1px solid red;
}

.dropdown-menu {
  border: 1px solid red;
  width: fit-content;
}

.mushroom-query{
  border: 1px solid red;
  width: fit-content;
}
