* {
  box-sizing: border-box;
}

.App {
  text-align: center;

}

.nav {
  z-index: 0;
  background-color: rgba(51, 51, 51, 0.855);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.25% 1%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.dropdown-item {
  z-index:1;
}
.nav-item{
  display: flex;
  align-items: center;
}



.leaflet-container {
  z-index:0;
  width: 100vw;
  height: 100vh;
}

.weather-panel{
  border: 1px solid red;
}
table, tr, th {
  border: 1px solid red;
}

.mydropdown-menu {
  border: 1px solid red;
  width: fit-content;
}

.mushroom-query{
  border: 1px solid red;
  width: fit-content;
}

.loginForm {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(51, 51, 51, 0.799);
  color: rgb(238, 228, 216);
  padding: 1rem;
}

.darkScreen {
  z-index:2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  animation: slowFade 1s forwards;
  
}

@keyframes slowFade {
  from {
    background-color: rgba(51, 51, 51, 0.0);
  }
  to {
    background-color: rgba(51, 51, 51, 0.399);
  }
  
}


.btn-close {
  position: absolute;
  right: 1rem;
}


.avatar{
  height: 2.3rem;
  background-color: rgb(44, 42, 42);
  border-radius: 50%;
  padding: 3px
}

.nav-1{
  display: flex;

}