* {
  box-sizing: border-box;
}

body{
  position: fixed;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;

}

.nav {
  z-index: 0;
  background-color: rgba(51, 51, 51, 0.855);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.25% 1%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.dropdown-item {
  z-index:1;
}
.nav-item{
  display: flex;
  align-items: center;
}



.leaflet-container {
  z-index:0;
  width: 100vw;
  height: 100vh;
}

.weather-panel{
  border: 1px solid red;
}
table, tr, th {
  border: 1px solid red;
}

.mydropdown-menu {
  border: 1px solid red;
  width: fit-content;
  padding: 1rem;
}

.mushroom-query{
  width: fit-content;
  padding: 1rem;
}
.mushroom-query> button{
  margin-top: 1rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.top-mushroom-data{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* This is a line */

.dropdown-menu.show{
  background-color: rgba(51, 51, 51, 0.899);
  color: antiquewhite;
  padding-top: 0;
  padding-bottom: 0;
}


.dropdown-menu.show>*{
  color: antiquewhite;
}
.layer-dropdown-menu>*>*:hover{
  color: black;
}

.table {
  margin-bottom: 0;
}

.nav-link{
  color: #5fbcfe;
}
.form-text {
  color: antiquewhite;
}
.text-muted.form-text {
  color: antiquewhite;
}


.loginForm {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(51, 51, 51, 0.799);
  color: rgb(238, 228, 216);
  padding: 1rem;
}

.darkScreen {
  z-index:2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  animation: slowFade 1s forwards;
  
}

@keyframes slowFade {
  from {
    background-color: rgba(51, 51, 51, 0.0);
  }
  to {
    background-color: rgba(51, 51, 51, 0.399);
  }
  
}


.btn-close {
  position: absolute;
  right: 1rem;
}


.avatar{
  height: 2.3rem;
  background-color: rgb(44, 42, 42);
  border-radius: 50%;
  padding: 3px;
}

.avatar:hover {
  cursor: pointer;
  background-color: rgb(53, 52, 52);

}

.nav-1{
  display: flex;

}

.btn-group-vertical {
  z-index: 400;
  position: fixed;
  top: 10%;
  left: 95%;
  background-color: rgba(51, 51, 51, 0.355);
  
}


.btn-group-vertical:hover{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.userlocate-btn{
  height: 1rem;
}
.btn-outline-dark:hover{
background-color: rgba(0, 0, 0, 0.649);
animation: grow 1s forwards ;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  100%{
    transform: scale(1.1);
  } 
}


.point-menu{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2%;
  background-color: rgba(51, 51, 51, 0.87);
  border: .14rem solid black;
  border-radius: 2rem;
  box-shadow: 10px 10px 39px 19px rgb(7 7 7 / 53%);
  

  padding: 1.4rem 1rem;

  color: antiquewhite;
}

.point-menu>.btn{
  color: white;
  border-color: antiquewhite;
}
.btn.btn-link{
  color: antiquewhite;
  font-size: .9rem;
  text-decoration: none;
}
.btn.btn-link:hover{
  color: white;
}


.point-menu>.btn:hover{
  background-color: rgba(51, 51, 51, 0.87);
}

.trashmancan{
  height: 1rem;
}



.removebtn{
  padding: 0;
  background-color: white;
  border: none;
}

.usertext{
  margin-top: 1rem;
  min-height: 10rem;
  overflow:hidden;
  width: 90%;
}

.noteboard{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2%;
  background-color: rgba(51, 51, 51, 0.87);
  border: .14rem solid black;
  border-radius: 1rem;
  box-shadow: 10px 10px 39px 19px rgb(7 7 7 / 53%);
  z-index: 1000;

  padding: 1.4rem 1rem;

  color: antiquewhite;
}

.progress-panel {
  min-width: max-content;
  padding: 1rem;
}

.a-button-to-get-user-actual-location:hover{
  cursor: pointer;
}

