.friend-box{
    position: absolute;
    text-align: left;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2%;
    background-color: rgba(51, 51, 51, 0.87);
    border: .14rem solid black;
    border-radius: 1rem;
    box-shadow: 10px 10px 39px 19px rgb(7 7 7 / 53%);
    z-index: 3;
    min-width: 16%;
    width: fit-content;
    height: fit-content;
    padding: 1.4rem 1rem;

    color: antiquewhite;
  }
  
  .friend-table{
    background-color: rgba(0, 0, 0, 0.237);
    border: 1px solid black;
    height: 20rem;
    overflow-x: hidden;
  }
  #friend-nav{
    position: relative;
    background: none;
    display: flex;
    margin-top: 1.5rem;
  }
  
  .friend-item {
    border: .12rem solid rgb(0, 0, 0);
    margin: 1rem;
    border-radius: 1rem;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.87);
    align-items: center;
    
  }
  
  .friend-item:hover{
    background-color: rgba(90, 90, 90, 0.87);
  }
  
  .friend-item>*{
    padding: 0rem .25rem;
    
  }
  
  .friend-item>.friend-name{
    display: flex;
    align-items: center;
    font-weight: 600;
    letter-spacing: .08ch;
  }
  
  .friend-options{
        display: flex;
        align-items: center;

  }
  
  .friend-avatar{
    height: 2.3rem;
    background-color: rgb(44, 42, 42);
    border-radius: 50%;
    padding: 3px;
  }

  .friends-messages-image{
      display: block;
      width: 3rem;
      height: 100%;
  }

  /* overlay */

.friends-messages{
    position: sticky;
}

.friends-messages:hover{
  cursor: pointer;
}

.friends-messages span{
    position: absolute;
    top:0;
    right: 0;
    background: #f00;
	padding: .2rem;
    font-size: .6rem;
    font-weight: bolder;
	border-radius: 50%;
	color: #fff;
	vertical-align: top;
	margin-left: -25p
}


.name-placeholder{
  /* border: 1px solid black; */
  border-radius: .5rem;
  width: 100%;
  height: 1.5rem;
  background: linear-gradient(to right, rgb(62, 62, 62), rgba(0, 0, 0, 0.373));
  animation: Animation 5s ease infinite;
  background-size: 200% 200%;
}

.fake-avatar{
  height: 2.3rem;
  width: 2.3rem;
  background: linear-gradient(to right, rgb(62, 62, 62), rgba(0, 0, 0, 0.373));
  animation: Animation 5s ease infinite;
  background-size: 200% 200%;
  border-radius: 50%;
  padding: 3px;
}

@keyframes loading {
  0% {
    background: linear-gradient(to right, rgba(51, 51, 51, 0.67), rgba(0, 0, 0, 0.374));
  }

  100% {
    background: linear-gradient(to right,  rgba(0, 0, 0, 0.374), rgba(51, 51, 51, 0.67));
  }
}

@keyframes Animation { 
  0%{background-position:10% 0%}
  50%{background-position: 250% 0%}
  100%{background-position:10% 0%}
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: none; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(28, 27, 27, 0.703); 
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.search-bar {
  width: 100%;
  margin: 1rem 0rem;
  border-radius: 1rem;
  z-index: 10;
}


.friends-add-image{
  display: block;
  width: 2.2rem;
  height: 100%;
  border-radius: 50%;
  padding: .1rem;

}

.add-box{
  
  border-radius: 50%;
  margin: 0rem 0.3rem;
}

.add-box:hover{
  background-color: green;
  cursor: pointer;
}

.already:hover {
  background-color: red;
  cursor: pointer;
}

.pending:hover{
  background-color: antiquewhite;
}
